* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background-image: url("./footer_lodyas.png")
}

.jumbotron {
    background-color:darkslategray;
    background-size: cover;
    box-shadow: 1px 1px 5px #000000;
}
.jumbotron h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px #000000;
}
.row {
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
}
